body{
    background-color: rgb(0, 0, 0) !important;
}
.calculator{
    margin-top: 50px;
}
.CalculatorInput input{
    height: 40px;
    width: 40px;
    margin: 15px;
    
}
#mainInput{
    height: 100px;
    width: 20%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 3px solid rgba(145, 111, 111, 0.333);
}